In [37]:
# import packages
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [18]:
url = "https://en.wikipedia.org/wiki/Tesla,_Inc."
request = requests.get(url)
data = request.text
soup = BeautifulSoup(data)

In [ ]:
print(soup.prettify)

In [ ]:
for link in soup.find_all('a'):
    print(link.get('href'))

In [15]:
soup.title

In [13]:
with open('doc.html', 'w') as file:
    file.write(soup.prettify())

In [27]:
full_table = soup.select('table.wikitable tbody')[3]
print(full_table)

<tbody><tr>
<th>Year
</th>
<th>Revenue<br/>(mil. USD)
</th>
<th>Net income<br/>(mil. USD)
</th>
<th>Total assets<br/>(mil. USD)
</th>
<th>Employees
</th></tr>
<tr>
<td align="left">2005<sup class="reference" id="cite_ref-Tesla_IPO_2010_471-0"><a href="#cite_note-Tesla_IPO_2010-471">[471]</a></sup>
</td>
<td>0
</td>
<td>-12
</td>
<td>8
</td>
<td>
</td></tr>
<tr>
<td align="left">2006<sup class="reference" id="cite_ref-Tesla_IPO_2010_471-1"><a href="#cite_note-Tesla_IPO_2010-471">[471]</a></sup> <sup class="reference" id="cite_ref-472"><a href="#cite_note-472">[472]</a></sup>
</td>
<td>0
</td>
<td>-30
</td>
<td>44
</td>
<td>70
</td></tr>
<tr>
<td align="left">2007<sup class="reference" id="cite_ref-Tesla_IPO_2010_471-2"><a href="#cite_note-Tesla_IPO_2010-471">[471]</a></sup>
</td>
<td>0.073
</td>
<td>-78
</td>
<td>34
</td>
<td>268
</td></tr>
<tr>
<td align="left">2008<sup class="reference" id="cite_ref-Tesla_IPO_2010_471-3"><a href="#cite_note-Tesla_IPO_2010-471">[471]</a></sup>
</td>
<td>15
</td>
<td>-83
</td>
<td>52
</td>
<td>252
</td></tr>
<tr>
<td align="left">2009<sup class="reference" id="cite_ref-Tesla_IPO_2010_471-4"><a href="#cite_note-Tesla_IPO_2010-471">[471]</a></sup>
</td>
<td>112
</td>
<td>−56
</td>
<td>130
</td>
<td>514
</td></tr>
<tr>
<td align="left">2010<sup class="reference" id="cite_ref-473"><a href="#cite_note-473">[473]</a></sup>
</td>
<td>117
</td>
<td>−154
</td>
<td>386
</td>
<td>899
</td></tr>
<tr>
<td align="left">2011<sup class="reference" id="cite_ref-474"><a href="#cite_note-474">[474]</a></sup>
</td>
<td>204
</td>
<td>−254
</td>
<td>713
</td>
<td>1,417
</td></tr>
<tr>
<td align="left">2012<sup class="reference" id="cite_ref-475"><a href="#cite_note-475">[475]</a></sup>
</td>
<td>413
</td>
<td>−396
</td>
<td>1,114
</td>
<td>2,914
</td></tr>
<tr>
<td align="left">2013<sup class="reference" id="cite_ref-476"><a href="#cite_note-476">[476]</a></sup>
</td>
<td>2,013
</td>
<td>−74
</td>
<td>2,417
</td>
<td>5,859
</td></tr>
<tr>
<td align="left">2014<sup class="reference" id="cite_ref-477"><a href="#cite_note-477">[477]</a></sup>
</td>
<td>3,198
</td>
<td>−294
</td>
<td>5,831
</td>
<td>10,161
</td></tr>
<tr>
<td align="left">2015<sup class="reference" id="cite_ref-478"><a href="#cite_note-478">[478]</a></sup>
</td>
<td>4,046
</td>
<td>−889
</td>
<td>8,068
</td>
<td>13,058
</td></tr>
<tr>
<td align="left">2016<sup class="reference" id="cite_ref-479"><a href="#cite_note-479">[479]</a></sup>
</td>
<td>7,000
</td>
<td>−675
</td>
<td>22,664
</td>
<td>17,782
</td></tr>
<tr>
<td align="left">2017<sup class="reference" id="cite_ref-480"><a href="#cite_note-480">[480]</a></sup>
</td>
<td>11,759
</td>
<td>−1,962
</td>
<td>28,655
</td>
<td>37,543
</td></tr>
<tr>
<td align="left">2018<sup class="reference" id="cite_ref-481"><a href="#cite_note-481">[481]</a></sup>
</td>
<td>21,461
</td>
<td>−976
</td>
<td>29,740
</td>
<td>48,817
</td></tr>
<tr>
<td align="left">2019<sup class="reference" id="cite_ref-FY19_482-0"><a href="#cite_note-FY19-482">[482]</a></sup>
</td>
<td>24,578
</td>
<td>−862
</td>
<td>34,309
</td>
<td>48,016
</td></tr>
<tr>
<td align="left">2020<sup class="reference" id="cite_ref-tesla_q42020_4-6"><a href="#cite_note-tesla_q42020-4">[4]</a></sup>
</td>
<td>31,536
</td>
<td>721
</td>
<td>52,148
</td>
<td>70,757
</td></tr></tbody>

In [32]:
import re
regex = re.compile('_\[\w\]')

table_head = full_table.select('tr th')
table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    column_label = column_label.replace(' ', '_')
    column_label = regex.sub('', column_label)
    table_columns.append(column_label)

print(table_columns)

['Year', 'Revenue_(mil._USD)', 'Net_income_(mil._USD)', 'Total_assets_(mil._USD)', 'Employees']

In [34]:
table_rows = full_table.select('tr')
table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)

print(table_data)

[['2005[471]', '0', '-12', '8', ''], ['2006[471] [472]', '0', '-30', '44', '70'], ['2007[471]', '0.073', '-78', '34', '268'], ['2008[471]', '15', '-83', '52', '252'], ['2009[471]', '112', '−56', '130', '514'], ['2010[473]', '117', '−154', '386', '899'], ['2011[474]', '204', '−254', '713', '1,417'], ['2012[475]', '413', '−396', '1,114', '2,914'], ['2013[476]', '2,013', '−74', '2,417', '5,859'], ['2014[477]', '3,198', '−294', '5,831', '10,161'], ['2015[478]', '4,046', '−889', '8,068', '13,058'], ['2016[479]', '7,000', '−675', '22,664', '17,782'], ['2017[480]', '11,759', '−1,962', '28,655', '37,543'], ['2018[481]', '21,461', '−976', '29,740', '48,817'], ['2019[482]', '24,578', '−862', '34,309', '48,016'], ['2020[4]', '31,536', '721', '52,148', '70,757']]

In [40]:
data_frame = pd.DataFrame(table_data, columns=table_columns)
data_frame

,Year,Revenue_(mil._USD),Net_income_(mil._USD),Total_assets_(mil._USD),Employees
0,2005[471],0,-12,8,
1,2006[471] [472],0,-30,44,70
2,2007[471],0.073,-78,34,268
3,2008[471],15,-83,52,252
4,2009[471],112,−56,130,514
5,2010[473],117,−154,386,899
6,2011[474],204,−254,713,"1,417"
7,2012[475],413,−396,"1,114","2,914"
8,2013[476],"2,013",−74,"2,417","5,859"
9,2014[477],"3,198",−294,"5,831","10,161"
10,2015[478],"4,046",−889,"8,068","13,058"
11,2016[479],"7,000",−675,"22,664","17,782"
12,2017[480],"11,759","−1,962","28,655","37,543"
13,2018[481],"21,461",−976,"29,740","48,817"
14,2019[482],"24,578",−862,"34,309","48,016"
15,2020[4],"31,536",721,"52,148","70,757"